.main-container {
    width: 100%;
    height: 100%;
}

.main-logo {
    width: 100px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -50px;
    font-size: 30px;
    text-align: center;
}

.main-login-insert {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}