@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'paybooc-Bold';
    background-color:#F3F5F5;
    background-size: 100%;
}
.full-page{
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.left-page{
    float: left;
    width: 59%;
    min-width: 600px;
    height: 945px;
    background-color:#F2F8F9;
    background-size: 100%;
    border: 1px solid black;
}
.left-page .header{
    width: 100%;
    height: 12%;
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-bottom-color: #424141;
}
.logo{
    display: flex;
    width: 100%;
    height: 100%;
}
.logo img{
    width: 150px;
    height: 80px;
    margin: auto auto;
}
.left-page .header .login-btn{
    position: relative;
    float: right;
    top: -50px;
    right: 20px;
}

.mypage-btn {
    cursor: pointer;
}

.left-page-posting{
    text-align: center;
    height: auto;
}

/* 로그인 모달 css */
.login-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.login-modal {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;
    background-color: white;
    border: 0.5px solid black;
    transition: 0.5s;
    animation: appear .7s cubic-bezier(.77,0,.175,1) forwards;
    z-index: 2000;
}

.login-modal-close {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 40px;
    color: gray;
    cursor: pointer;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/**
* 모달 닫는 애니메이션 추후 적용
@keyframes dissappear {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}
*/

.posting-add-btn{
    /* position: relative; */
    width: 70px;
    /* float: right; */
    top: -20px;
    left: 50px;
}
.right-page{
    float: right;
    width: 40%;
    min-width: 400px;
    height: 945px;
    border: 1px solid black;
    background-color:#F2F8F9;
    background-size: 100%;
    
}
.right-search-bar{
    width: 100%;
    height: 130px;
}

.search-bar{
    margin-top: 30px;
    margin-right: 3%;
    float:right;
    height: 100px;
}
.search-bar input{
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
}
.search-bar img{
    position: relative;
}
.tag-selection{
    margin-left: 7%;
    font-size: 18px;
}
.line1{
    width: 0px;
    height: 190px;
    position: absolute;
    border: 1px solid #DDE1E1;
    margin-left: 107px;
    margin-top: 70px;
}
.line2{
    width: 0px;
    height: 190px;
    position: absolute;
    border: 1px solid #DDE1E1;
    margin-left: 205px;
    margin-top: 70px;
}
.line3{
    width: 0px;
    height: 190px;
    position: absolute;
    border: 1px solid #DDE1E1;
    margin-left: 310px;
    margin-top: 70px;
}
.line4{
    width: 355px;
    height: 0px;
    position: absolute;
    border: 1px solid #DDE1E1;
    margin-left: 30px;
    margin-top: 50px;
}
.tag-selection .tag-selection-box{
    width: 93.5%;
    height: 300px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 18px;
    background-color:white;
    background-size: 100%;
}
.tag-selection-box ul{
    float: left;
}
.tag-selection-box ul li{
    margin-left: 30px;
    margin-top: 10px;
    
}
.hot-posting{
    margin-left: 7%;
    font-size: 18px;
    margin-top: 30px;
}
.hot-posting .hot-posting-box{
    width: 93.5%;
    height: 400px;
    margin-top: 10px;
    border: 1px solid rgb(88, 84, 84);
    border-radius: 18px;
    background-color:white;
    background-size: 100%;
}

.footer{
    width: 100%;
    float: left;
}
.footer img{
    float: left;
}

/*추가페이지 영역/////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.nullbox{
    height: 120px;
}
textarea{
    width: 395px;
    height: 430px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 18px;
    background-color:white;
    background-size: 100%;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 15px;
}
.save{
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}