/* 회원가입 폼 전체 */
.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/* 회원가입 약관동의 텍스트 CSS */
.signup-term-container div:nth-child(1) {
    margin: 10px auto;
}

/* 회원가입 약관동의 */
.signup-term-comment {
    width: 700px;
    height: 180px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 15px;
    line-height: 22px;
}

.signup-term-btn {
    width: 100%;   
    display: flex;
}

.signup-term-btn button {
    width: 300px;
    margin: 20px auto;
}

/* 회원가입 인풋 폼 간격 */
.signup-input-form div {
    /* display: flex; */
    margin-top: 10px;
    width: 300px;
}

/* 사용가능 이메일 */
.signup-input-confirm-1 {
    color: cornflowerblue;
    font-size: 14px;
    align-items: center;
    justify-content: flex-end;
}

/* 잘못 입력 */
.signup-input-confirm-2 {
    color: orange;
    font-size: 14px;
    align-items: center;
    justify-content: flex-end;
}

/* 이미 등록된 이메일 */
.signup-input-confirm-3 {
    color: red;
    font-size: 14px;
    align-items: center;
    justify-content: flex-end;
}

/* 인풋 폼 에러 */
.signup-input-error {
    color: red;
    font-size: 12px;
}

.signup-input-password-error {
    color: red;
}

/* 가입, 취소 버튼 */
.signup-btn {
    text-align: center;
    padding-top: 20px;
}
.signup-btn button {
    margin: 5px;
}

/* 회원가입 완료 모달 */
.signup-modal {
    flex-direction: column;
    width: 400px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    border: 1px solid black;
    margin-left: -200px;
    margin-top: -75px;
    opacity: 0.8;
    z-index: 2000;
}

.signup-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
    z-index: 1000;
}

.signup-modal-comment {
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
}

.signup-modal-btn {
    padding-top: 30px;
    text-align: center;
}