/* 회원가입 폼 전체 */
.signup-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

/* 회원가입 약관동의 텍스트 CSS */
.signup-term-container div:nth-child(1) {
    margin: 10px auto;
}

/* 회원가입 약관동의 */
.signup-term-comment {
    width: 700px;
    height: 180px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 15px;
    line-height: 22px;
}

.signup-term-btn {
    width: 100%;   
    display: flex;
}

.signup-term-btn button {
    width: 300px;
    margin: 20px auto;
}

/* 회원가입 인풋 폼 간격 */
.signup-input-form div {
    margin-top: 10px;
    width: 300px;
}

/* 가입, 취소 버튼 */
.signup-btn {
    text-align: center;
    padding-top: 20px;
}
.signup-btn button {
    margin: 5px;
}